{% extends 'core/base.html' %}
{% load static %}
{% block title %}You sales{% endblock %}
{% block content %}
{% include 'publications/includes/publication_bar.html'%}
{% load humanize %}
{% load custom_tags %}
{% wish_list as wish_list %}
{% basket_list as basket_list %}
{% if filter.qs|length == object_list|length %}
<div class="container-fluid">
  <div class="row">
    <div class="text-center mx-auto">
      <div id="carousel1" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
        <div class="carousel-inner">
          {% if carousel %}
          {% for imagen in carousel %}
          <div class="carousel-item"> <img class="d-block w-100" src="{{imagen.image.url}}">
          </div>
          {% endfor %}
          {% endif %}

        </div>
        <ol class="carousel-indicators">
          <li data-target="#carousel1" data-slide-to="0" class="active"> </li>
          <li data-target="#carousel1" data-slide-to="1"> </li>
          <li data-target="#carousel1" data-slide-to="2"> </li>
        </ol>
        {% if request.user.is_staff %}
        <a href="{% url 'admin:information_carousel_changelist' %}" class="btn btn-danger"
          style="position: absolute; top:10px; left: 10px; z-index: 10000;">
          <i class="fa fa-pencil"></i>
        </a>
        {% endif %}
      </div>

    </div>
  </div>

</div>
<div class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card bg-primary">
          <div class="card-body text-white">
            <div class="row pi-draggable" draggable="true">
              <div class="text-center col-12">
                <h2 class="d">Paga cómodo y seguro</h2>
                <hr class="bg-primary">
                <p> Aceptamos diferentes métodos de pago.</p>
              </div>
            </div>
            <div class="row">
              <div class="text-center col-xs-2 col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 border-right border-left">
                <i class="fa fa-cc-paypal fa-5x" aria-hidden="true"></i>
              </div>
              <div class="text-center col-xs-2 col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 border-right border-left">
                <i class="fa fa-credit-card-alt fa-5x" aria-hidden="true"></i>
              </div>
              <div class="text-center col-xs-2 col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 border-right border-left">
                <i class="fa fa-google-wallet fa-5x" aria-hidden="true"></i>
              </div>
              <div class="text-center col-xs-2 col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 border-right border-left">
                <i class="fa fa-cc-amex fa-5x" aria-hidden="true"></i>
              </div>
              <div class="text-center col-xs-2 col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 border-right border-left">
                <i class="fa fa-cc-mastercard fa-5x" aria-hidden="true"></i>
              </div>
              <div class="text-center col-xs-2 col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 border-right border-left">
                <i class="fa fa-cc-visa fa-5x" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-3 text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-5">Encuentra los mejores precios en <img src="{% static 'core/img/USALESTK.png' %}"
            height="50"></h1>
      </div>
    </div>
  </div>
</div>

{% else %}
<div class="container">
  <h2 class="">Resultados para <b>{{request.GET.product}}</b> ({{filter.qs|length}})</h2>
</div>
{% endif %}
<div class="">
  <div class="container">
    <div class="row text-center">
      <input type="text" name="user" id="user" value="{{request.user.id}}" style="display:none">
      {% if filter.qs %}
      {% for publication in filter.qs %}
      {% if publication.stock > 0 %}
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 py-3">
        <div class="card card-zoom bg-light">
          <div class="bg-white">
            <a href="{% url 'publications:publication' publication.id publication.product|slugify %}">
              <img class="img-fluid d-block mx-auto" style="height:170px" src="{{publication.picture.url}}">
            </a>
          </div>
          <div name="bodyCardBasket" class="card-body">
            <h4 class="card-title"><b>${{publication.price|intcomma }}</b></h4>
            <p class="card-text">{{publication.product}}</p>
            <hr>
            {% if basket_list %}
            {% for basketItem in basket_list %}
            {% if basketItem.publication_id == publication.id %}
            <button onclick="basketListDeleteHandler(event)" class="btn btn-primary mx-block"><i
                class="fa fa-shopping-cart"></i>
            </button>
            {% endif %}
            {% endfor %}
            {% endif %}
          </div>
          <input type="text" name="publication" id="publication" value="{{publication.id}}" style="display:none">
          {% if wish_list %}
          <!-- loop to check all the items in the wishlist-->
          {% for deseo in wish_list %}
          <!-- if publication_id equals to publication.id, it means the publication is in wishlist, so render - button to delete it -->
          {% if deseo.publication_id == publication.id %}
          <button name="delete" class="btn btn-secondary mx-block" style="position:absolute; top:10px; right: 10px"
            onclick="wishListDeleteHandler(event)"><i name="delete" class="fa fa-heart"></i></button>
          {% endif %}
          {% endfor %}
          {% endif %}
        </div>
      </div>
      {% endif %}
      {% endfor %}
      {% else %}
      <div class="col-md-12 py-5">
        <div class="card">
          <div class="card-body">
            <h1 class="">Estamos agregando productos a la tienda</h1>
            <hr>
            <h2 class="">Regresa más tarde 👍🏼</h2>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>


<link href="{% static 'publications/css/custom_ckeditor.css' %}" rel="stylesheet">
<script src="{% static 'publications/js/publication_list_wishlistHandler.js' %}"></script>

{% endblock %}