{% extends 'core/base.html' %}
{% load static %}
{% block title %}Nuevo producto{% endblock %}
{% block content %}
{% include 'publications/includes/publication_ck-editor.html'%}
{% include 'publications/includes/publication_bar.html'%}
{% load custom_tags %}
{% categories as categories %}

<main role="main">
    <div class="col-md-2">
    </div>
    <div class="container">
        <div class="row py-2">
            <div class="col-md-12 py-3">
                <h1>Publica un producto</h1>
            </div>
            <div class="col-md-12">
                <div class="card bg-light">

                    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <div style="display:none">
                            {{ form.errors }}
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8 border-primary border-right text-center">
                                    <input type="text" name="user" id="user" value="{{request.user.id}}"
                                        style="display: none">
                                    <img src="{% static 'publications/img/no-product.png' %}" id="imgPreview"
                                        class="img-fluid d-block mx-auto" style="height:425px">
                                    <h4>Carga una imagen distintiva</h4>


                                    <input type="file" name="picture" accept="image/*" id="id_picture"
                                        style="display:none">
                                    <label tabindex="0" for="id_picture" class="btn btn-secondary w-100">Selecciona una
                                        imagen</label>


                                </div>
                                <div class="col-md-4 text-center">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <div class="col-md-12" style="display: none">
                                                {{ form.seller }}
                                            </div>
                                            <h4> ¿Cómo se llama tu producto? </h4>
                                            {{form.product}}
                                        </div>

                                    </div>
                                    <hr>
                                    <h4> Precio del producto </h4>
                                    <div class="form-group row">
                                        <div class="col-1">
                                            <h4> $ </h4>
                                        </div>
                                        <div class="col-11">
                                            {{form.price}} </div>
                                    </div>
                                    <hr>
                                    <h4> Unidades disponibles </h4>
                                    <div class="form-group row">
                                        <div class="col-12">
                                            {{form.stock}} </div>
                                    </div>
                                    <hr>
                                    <h4> Categoría </h4>
                                    <div class="row">

                                        <div class="col-md-12 text-center">
                                            <select name="category" onchange="getSubCategory(event)"
                                                class="form-control" id="id_category">
                                                {% for categoria in categories %}
                                                <option value="{{categoria.id}}">{{categoria.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <hr>
                                    <h4> SubCategoría </h4>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <select name="subcategory" class="form-control" id="id_subcategory">
                                                <!-- <option value="" selected="">---------</option> -->
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <hr class="">
                                    <h4>Dále una descripción y caracterísiticas a tu producto</h4>
                                    {{form.description|safe}}
                                </div>
                            </div>
                            <hr>
                            <button type="submit" class="btn btn-primary w-100"> Publicar producto </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- <div class="col-md-2"></div> -->
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var errores = document.querySelectorAll('.errorlist');
            console.log(errores)
            if (errores.length > 0) {
                showError();
            }
            function showError(error) {
                    $.growl.error({
                        size: 'large',
                        title: '<h5>Oops, algo ha ido mal 🙁</h5>',
                        message: "<p>Revisa todos los campos</p>"
                    });
                }
        });
    </script>
    <script src="{% static 'publications/js/getSubCategoriesHandler.js' %}"></script>
    <script src="{% static 'publications/js/dynamicImageUpdate.js' %}"></script>
</main>
{% endblock %}