{% extends 'core/base.html' %}
{% load static %}
{% block title %}Lista de pedidos{% endblock %}
{% block content %}
{% load humanize %}
{% include 'publications/includes/publication_bar.html'%}
{% load custom_tags %}
{% orders_list as orders_list %}

<main role="main">
    <div class="container">
        <h4 class="display-4">Lista de pedidos</h4>
        <div class="row py-4">
            <div class="col-md-12">
                {% if orders_list %}
                {% for pedido in orders_list %}
                <div class="card my-2 bg-light text-primary">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <img class="img-fluid d-block mx-auto" src="{{pedido.product.picture.url}}"
                                    style="height:100px">
                            </div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 class="">{{pedido.product}}</h4>
                                        <h5>$<b>{{pedido.subtotal}}</b> x{{pedido.quantity}} </h5>
                                        <p>Folio del pedido: <b>{{pedido.folio}}</b> </p>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row">
                                            <div class="col-12">
                                                <p>{{pedido.product.seller.first_name}}
                                                    {{pedido.product.seller.last_name}} <br>
                                                    {{pedido.product.seller.profile.phone}}</p>
                                            </div>

                                            <div class="col-md-12 py-1">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row">
                                            <div class="col-md-12 text-right">
                                                {% if pedido.payment_status == 1 %}
                                                <p class="text-danger">{{pedido.get_payment_status_display}} <i
                                                        class="fa fa-clock-o"></i></p>
                                                {% else %}
                                                <p class="text-success">{{pedido.get_payment_status_display}} <i
                                                        class="fa fa-check"></i></p>
                                                {% endif %}

                                                {% if pedido.shipping_status == 1 %}
                                                <p class="text-danger">{{pedido.get_shipping_status_display}} <i
                                                        class="fa fa-clock-o"></i></p>
                                                {% elif pedido.shipping_status == 2 %}
                                                <p class="text-warning">{{pedido.get_shipping_status_display}} <i
                                                        class="fa fa-clock-o"></i></p>
                                                {% else %}
                                                <p class="text-success">{{pedido.get_shipping_status_display}} <i
                                                        class="fa fa-check"></i></p>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-12 text-right">
                                                <button class="btn btn-primary disabled">Ver detalle</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="card">
                    <div class="card-body">
                        <h1 class="">No has realizado ningún pedido</h1>
                        <hr>
                        <h2 class="">¡Comprar es muy fácil!</h2>
                        <h2>¡Dirígete a la tienda, donde encontrarás muchos productos increíbles!</h2>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</main>

{% endblock %}