{% extends 'core/base.html' %}
{% load static %}
{% block title %}You sales{% endblock %}
{% block content %}
{% load humanize %}
<!-- {% include 'publications/includes/publication_bar.html'%} -->
<main role="main">
    <div class="container">
        <h3 class="display-3">Carrito de compras</h3>
        <div class="row py-4">
            <div class="col 12">
                {% if object_list %}
                {% for basketItem in object_list %}
                {% for producto in publications %}
                {% if basketItem.customer_id == request.user.id and producto.id == basketItem.publication_id %}
                <input type="text" name="user" id="user" value="{{request.user.id}}" style="display:none">
                <div class="card my-2">
                    <div class="card-body" name="CardShoppingCartItem">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="{% url 'publications:publication' producto.id producto.product|slugify %}">
                                    <img class="img-fluid d-block mx-auto" src="/media/{{producto.picture}}" style="height:150px"></a></div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="{% url 'publications:publication' producto.id producto.product|slugify %}">
                                            <h3>{{producto.product}}</h3>
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row">
                                            <div class="col-12">
                                                <input oninput="contador(event)" class="form-control" type="number"
                                                    name="quantity" min="1" max="{{producto.stock}}" value="{{basketItem.quantity}}">
                                                <input type="text" name="product_id" id="product_id" value="{{producto.id}}"
                                                    style="display:none">
                                            </div>
                                            <div class="col-12">
                                                <b>{{producto.stock}} </b>disponibles
                                            </div>
                                            <div class="col-md-12 py-1">
                                                <input type="text" name="publication" id="publication" value="{{producto.id}}"
                                                    style="display:none">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h3>$<b>{{basketItem.price|intcomma}}</b></h3>
                                            </div>
                                            <div class="col-md-12 py-1">
                                                <a onclick="deleteItem(event)" class="btn btn-outline-secondary w-100" href="#">Quitar del carrito</a>
                                            </div>
                                            <div class="col-md-12 py-1">
                                                <a class="btn btn-primary w-100" href="#">Comprar ahora</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% endfor%}

                <!-- Pagar todo -->
                <div class="card my-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-10">
                                <h2>total</h2>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>$9999</h3>
                                    </div>
                                    <div class="col-md-12 py-1">
                                        <a class="btn btn-primary w-100" href="#">Comprar todo</a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                No hay items en el carrito :c
                {% endif %}

            </div>
        </div>
    </div>
</main>


<script>
    function contador(event) {
        var cantidad = event.target.value;
        var producto = event.target.parentElement.children[1].value;
        console.log(producto);
        $.ajax({
            url: '/shopping_basket_lists/update/',
            data: {
                
                'producto': producto,
                'cantidad': cantidad
            },
            dataType: 'json',
            success: function (data) {
                location.reload();
            }
        });
    }

    function deleteItem(event){
        var producto = event.target.parentElement.parentElement.parentElement.parentElement.children[1].children[0].children[2].children[0].value;
        $.ajax({
            url: '/shopping_basket_lists/delete/',
            data: {
                
                'producto': producto,
                
            },
            dataType: 'json',
            success: function (data) {
                location.reload();
            }
        });
    }
</script>
{% endblock %}