<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'core/img/favicon.ico' %}" />
    {% load custom_tags %}
    {% categories as categories %}
    {% aboutus as aboutus %}
    {% privacy as privacy %}
    {% faq as FAQ %}

    <!-- Estilos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        type="text/css">
    <link href="{% static 'core/css/booty.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/jquery.growl.css' %}" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{% static 'core/js/jquery.growl.js' %}"></script>
    <!-- Javascript -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
    </script>


</head>

<body>
        <!-- Navegación -->
        <nav class="navbar navbar-expand-md navbar-dark bg-primary sticky-top border-bottom border-secondary">
            <div class="container-fluid"> <a class="navbar-brand text-light" href="{% url 'publications:publications'%}">
                    <img src="{% static 'core/img/logo.png' %}" height="25">
                </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
                    data-target="#navbar4" aria-expanded="true">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="wrap">

                    <div class="search">
                        <form action="{% url 'publications:search' %}" method="get">
                            <input type="text" class="searchTerm" name="product" id="id_product" required
                                placeholder="Estoy buscando...">
                            <button type="submit" class="searchButton">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="navbar-collapse text-center collapse" id="navbar4">
                    <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'shopping_basket:shopping_basket_list' %}" class="btn btn-link">
                                <span class="fa fa-shopping-cart"></span>
                                <span class="badge badge-danger badge-pill">{% if usuario|basketlist_counter:request.user.id %}{{usuario|basketlist_counter:request.user.id}}{% else %}0{% endif %}</span></a>
                        </li>
                        <li class="nav-item "> <a href="{% url 'wish_lists:wish_lists' %}" class="btn btn-link">
                                <span class="fa fa-heart"></span><span id="wishlist_span"
                                    class="badge badge-danger badge-pill">{{ usuario|wishlist_counter:request.user.id }}</span></a>
                        </li>
                        <li class="nav-item">
                            <div class="btn-group">
                                <button class="btn btn-link dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="false">{{request.user.first_name|truncatechars:9}}</button>
                                <div class="dropdown-menu profile-drop">
                                    
                                    {% if request.user.profile.avatar %}
                                    <a href="{% url 'profile' %}">
                                        <img src="{{request.user.profile.avatar.url}}" class="img-fluid d-block mx-auto"
                                            style="height:60px;">
                                    </a>
                                    {% else %}
                                    <a href="{% url 'profile' %}">
                                        <img src="{% static 'registration/img/no-avatar.jpg' %}"
                                            class="img-fluid d-block mx-auto" style="height:60px;">
                                    </a>
                                    {% endif %}
                                    <div class="dropdown-divider"></div>
                                    {% if request.user.is_staff %}
                                    
                                    <a class="dropdown-item" href="/admin">Administrador</a>
                                    <div class="dropdown-divider"></div>
                                    {% endif %}
                                    
                                    <div class="row px-1">
                                        <div class="col-12">
                                            <a class="btn btn-primary w-100" href="{% url 'resume' %}">Cuenta</a>
                                        </div>
                                    </div>
                                    
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'orders:orders' %}">Pedidos</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item disabled" href="#">Ventas</a>
                                    <div class="dropdown-divider"></div>
                                    {% if request.user.is_staff %}
                                    <a class="dropdown-item" href="{% url 'publications:create' %}">Publicar
                                        producto</a>
                                    <div class="dropdown-divider"></div>
                                    {% endif %}
                                    <a class="dropdown-item" href="{% url 'logout' %}">Salir</a>
                                </div>
                            </div>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="{% url 'login' %}" class="btn btn-link">Acceder</a>
                        </li>
                        {% endif %}
                    </ul>
                    <!-- <a class="btn btn-secondary text-white">Ingresar</a> -->
                </div>
            </div>
        </nav>

        <!-- Contenido -->
        {% block content %}
        {% endblock %}
        <!-- footer -->
        <div class="bg-primary text-white">
            <div class="container">
                <div class="row">
                    <div class="p-4 col-md-6">
                        <h2 class="mb-4">Mapa del sitio</h2>
                        <ul class="list-unstyled">

                            {% if aboutus %}
                            <a class="nav-link"
                                href="{% url 'information:about_us' aboutus.id aboutus.title|slugify %}">{{aboutus}}</a>
                            {% else %}
                            <a class="nav-link disabled" href="#">Acerca de</a>
                            {% endif %}


                            <li class="nav-item">
                                {% if FAQ|length > 0 %}
                                <a class="nav-link" href="{% url 'information:FAQ' %}">Preguntas frecuentes</a>
                                {% else %}
                                <a class="nav-link disabled" href="#">Preguntas frecuentes</a>
                                {% endif %}
                            </li>


                            {% if privacy %}
                            <a class="nav-link"
                                href="{% url 'information:privacy' privacy.id privacy.title|slugify %}">{{privacy}}</a>
                            {% else %}
                            <a class="nav-link disabled" href="#">Políticas de privacidad</a>
                            {% endif %}

                        </ul>
                    </div>
                    <div class="p-4 col-md-6">
                        <h2 class="mb-4">Contacto</h2>
                        <p class=""> <a href="#" class="">
                                <i class="fa d-inline mr-3 text-muted fa-phone"></i>+52 1 775 119 3477</a> </p>
                        <p> <a href="#" class="">
                                <i class="fa d-inline mr-3 text-muted fa-envelope-o"></i>contacto@usales.tk</a> </p>
                        <p> <a href="#" class="">
                                <i class="fa d-inline mr-3 fa-map-marker text-muted"></i>Tulancingo, HGO.</a> </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-3">
                        <p class="text-center">© Copyright 2019 uSales - Todos los derechos reservados. </p>
                    </div>
                </div>
            </div>
        </div>


    </body>

</html>