{% extends 'core/base.html' %}
{% load static %}
{% block title %}Quiénes somos{% endblock %}
{% block content %}
{% include 'publications/includes/publication_ck-editor.html'%}
{% include 'publications/includes/publication_bar.html'%}
<div class="container">
    <div class="row">
        <div class="col-12 py-5">
            <h3 class="display-3 text-center">
                {{aboutus.title}}
            </h3>
            <hr>
            {{aboutus.content|safe}}
            {% if request.user.is_staff %}
            <a href="{% url 'admin:information_aboutus_change' aboutus.id %}" class="btn btn-primary w-100">Editar</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}