{% load custom_tags %}
{% categories as categories %}
{% aboutus as aboutus %}
{% privacy as privacy %}
{% faq as FAQ %}

{% faq as FAQ %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container"> <button class="navbar-toggler navbar-toggler-right border-0" type="button"
            data-toggle="collapse" data-target="#navbar9" style="" aria-expanded="true">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar9" style="">
            <ul class="navbar-nav">
                <li class="nav-item mx-2"> <a class="nav-link" href="{% url 'publications:publications'%}">Productos</a>
                </li>
                <li class="nav-item mx-2 ">
                    {% if aboutus %}
                    <a class="nav-link"
                        href="{% url 'information:about_us' aboutus.id aboutus.title|slugify %}">{{aboutus}}</a>
                    {% else %}
                    <a class="nav-link disabled" href="#">Acerca de</a>
                    {% endif %}
                </li>
                <li class="nav-item mx-2 ">
                    {% if FAQ|length > 0 %}
                    <a class="nav-link" href="{% url 'information:FAQ' %}">Preguntas frecuentes</a>
                    {% else %}
                    <a class="nav-link disabled" href="#">Preguntas frecuentes</a>
                    {% endif %}
                </li>
                <li class="nav-item mx-2 ">
                    {% if privacy %}
                    <a class="nav-link"
                        href="{% url 'information:privacy' privacy.id privacy.title|slugify %}">{{privacy}}</a>
                    {% else %}
                    <a class="nav-link disabled" href="#">Políticas de privacidad</a>
                    {% endif %}
                </li>
                <li class="nav-item mx-2">
                    <div class="btn-group ">
                        <a id="dLabel" role="button" data-toggle="dropdown" class="nav-link dropdown-toggle" href="">
                            Categorías
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                            {% for categoria in categories %} {% if categoria.get_subcategory_count > 0 %}
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" tabindex="-1" href="#">
                                    {{categoria}}
                                </a>
                                <ul class="dropdown-menu">
                                    {% for subcategoria in categoria.get_subcategories %}
                                    <li>
                                        <a class="dropdown-item" tabindex="-1" href="#">{{subcategoria}}</a>
                                    </li>
                                    {% if forloop.last == False %}
                                    <div class="dropdown-divider"></div>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                            {% else %}
                            <a class="dropdown-item" tabindex="-1" href="">{{ categoria }}</a>
                            {% endif %} {% if forloop.last == False %}
                            <div class="dropdown-divider"></div>
                            {% endif %} {% endfor %}
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>