{% extends 'core/base.html' %}
{% load static %}
{% block title %}Restablecimiento de contraseña enviado{% endblock %}
{% block content %}
<style>
  .errorlist {
    color: red;
  }

  label {
    display: none
  }

  main {
    background: linear-gradient(0deg, white 50%, #5cdb95 50%);
  }
</style>

<main role="main">
  <div class="container">
    <div class="row py-4">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="card bg-primary text-white">
          <div class="card-body">
            <h3 class="card-title"><b>Restablecimiento de contraseña enviado</b></h3>
            <p>Le hemos enviado por email las instrucciones para restablecer la contraseña, si es que existe una cuenta
              con la dirección electrónica que indicó. Debería recibirlas en breve.</p>
            <p>Si no recibe un correo, por favor asegúrese de que ha introducido la dirección de correo con la que se
              registró y verifique su carpeta de spam.</p>
          </div>
        </div>
      </div>
      
      <div class="col-md-3"></div>
    </div>
  </div>
</main>
{% endblock %}