{% extends 'core/base.html' %}
{% load static %}
{% block title %}Escriba la nueva contraseña{% endblock %}
{% block content %}
<style>.errorlist{color:red;} label{display:none} </style>
<main role="main">
  <div class="container">
    <div class="row py-4">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        {% if validlink %}
        <div class="card bg-primary text-white">
          <div class="card-body">
            <h3 class="card-title"><b>Escriba la nueva contraseña</b></h3>

            <form action="" method="post">{% csrf_token %}
              <p>Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>
              {{form.new_password1.errors}}
              <p><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control"
                  placeholder="Introduce la nueva contraseña"></p>
              {{form.new_password2.errors}}
              <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control"
                  placeholder="Repite la nueva contraseña"></p>
              <p><input type="submit" class="btn btn-secondary btn-block text-white" value="Cambiar mi contraseña"></p>
            </form>
          </div>
        </div>
        {% else %}
        <div class="card bg-secondary text-white">
          <div class="card-body">
            <h3 class="card-title"><b>Restablecimiento de contraseñas fallido</b></h3>

            <p>El enlace de restablecimiento de contraseña era inválido, seguramente porque se haya usado antes. Por
              favor,
              solicite un nuevo restablecimiento de contraseña <a href="{% url 'password_reset' %}">aquí</a>.</p>
          </div>
        </div>{% endif %}
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</main>
{% endblock %}